#### 데이터베이스(DB) 접속

##### 데이터베이스 프로그램 순서
- 모든 데이터베이스 동일
- 1. DB 드라이버(라이브러리) 연결
    - 서버위치 찾아가기(서버주소, 포트, 서비스 이름)
- 2. DB 접속(아이디, 비밀번호)
    - DB 서버에 접속하기
- 3. 커서 생성
    - SQL 구문을 담아서 DB 서버에 요청
    - DB서버에서 처리한 결과를 받아오는 역할을 수행하는 객체 생성
- 4. SQL 구문 작성 및 처리 요청 (커서가 처리 요청과 동시에 결과를 받아옴)
- 5. 결과 출력
- 6. DB 서버와 접속 끊기 (반환하기)
    - 커서 반납 먼저(close)
    - DB 접속 닫기(close)

#### 데이터베이스 사용을 위한 파이썬 라이브러리 설치

In [1]:
### 오라클 라이브러리 불러들이기
# - 사용 라이브러리 : cx_Oracle
# - 설치 : conda install -c conda-forge cx_Oracle

import cx_Oracle

#### 1. DB드라이버(라이브러리) 연결
- DB서버 찾아가기(서버 주소, 포트, 서비스이름)

In [2]:
### 서버 주소 : localhost, 127.0.0.1, 실제 네트워크 IP
### 포트 : 1521, 변경된 경우 해당 port 사용
### 서비스 이름 : 연습용(xe), 사용버전(orcl)
### 최초 한번만 실행 (DB 서버와 접속을 끊더라도 최초 한 번 수행 후에는 실행 안해도 됨)
dns = cx_Oracle.makedsn("localhost", 1521, "xe")
dns

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

#### 2. DB 접속(아이디, 비밀번호)
- DB 서버에 접속하기

In [4]:
conn = cx_Oracle.connect("busan", "dbdb", dns)
conn

#### 3. 커서 생성

In [5]:
### DB 서버로부터 접근권한이 부여된 커서 생성하기
cursor = conn.cursor()
cursor

#### 4. SQL 구문 작성 및 Cursor(커서)에 SQL 구문 담아서 요청 및 응답 받아오기

In [6]:
### 4.1 SQL 구문 작성
# - 회원 전체 정보를 조회하는 SQL 구문 작성
sql = """
    SELECT *
    FROM member
"""
sql

'\n    SELECT *\n    FROM member\n'

In [7]:
### 4.2 SQL구문을 커서에 담아서 요청 및 응답 실행
# - 응답 결과는 cursor가 가지고 있음
# - 결과값에 대한 정보는 sursor 객체 내부 라이브러리 함수를 통해 추출
cursor.execute(sql)

#### 5. 결과값 추출하기

In [8]:
### cursor가 응답받은 데이터를 가지고 있음
# - cursor가 지원하는 함수이용하여 데이터 추출
# - fetchall() : 결과값을 리스트(list) 타입으로 반환해줌
#                   : 각 행(row) 들은 튜플(Tuple) 타입으로 되어 있음
# (최초 실행을 하면 cursor에 담겨져 있는 데이터를 내린 후 깨끗한 상태가 됨 -> 위에 요청부터 다시 실행해야함)
# - 컬럼명 없이 데이터만 반환
mem_rows = cursor.fetchall()
mem_rows

[('a001',
  'asdfasdf',
  '김은대',
  '760115',
  '1406420',
  datetime.datetime(1976, 1, 15, 0, 0),
  '135-972',
  '대전시 동구 용운동',
  '222-2번지',
  '042-621-4615',
  '042-621-4615',
  '011-621-4615',
  'pyoedab@lycos.co.kr',
  '주부',
  '수영',
  '결혼기념일',
  datetime.datetime(1999, 1, 12, 0, 0),
  1000,
  None),
 ('b001',
  '1004',
  '이쁜이',
  '741004',
  '2900000',
  datetime.datetime(1974, 1, 7, 0, 0),
  '700-030',
  '서울시 천사동 예쁜마을',
  '1004-29',
  '02-888-9999',
  '02-888-9999',
  '016-888-9999',
  'engelcd@pretty.net',
  '회사원',
  '수영',
  '아버님생신',
  datetime.datetime(1999, 2, 12, 0, 0),
  2300,
  None),
 ('c001',
  '7777',
  '신용환',
  '740124',
  '1400716',
  datetime.datetime(1974, 1, 24, 0, 0),
  '407-817',
  '대전광역시 중구 대흥동',
  '477-9',
  '042-123-5678',
  '042-123-5678',
  '011-123-5678',
  'kyh01e@hanmail.net',
  '교사',
  '독서',
  '아내생일',
  datetime.datetime(1999, 3, 12, 0, 0),
  3500,
  None),
 ('d001',
  '123joy',
  '성윤미',
  '460409',
  '2000000',
  datetime.datetime(1946, 4, 9, 0, 0),
  '501-705',
  '대전시 중구 하늘동 ',
  '땅 3번지',
  '042-222-8877',
  '042-222-8877',
  '019-222-8877',
  'dbs81f@hanmail.net',
  '공무원',
  '볼링',
  '결혼기념일',
  datetime.datetime(1999, 4, 12, 0, 0),
  1700,
  None),
 ('e001',
  '00000000',
  '이혜나',
  '750501',
  '2406017',
  datetime.datetime(1975, 5, 1, 0, 0),
  '617-800',
  '대전시 대덕구 읍내동',
  '혜강아파트',
  '042-432-8901',
  '042-432-8901',
  '011-432-8901',
  'bosiang@hanmail.net',
  '농업',
  '당구',
  '아버님생신',
  datetime.datetime(1999, 5, 12, 0, 0),
  6500,
  None),
 ('f001',
  '12345678',
  '신영남',
  '751228',
  '1459919',
  datetime.datetime(1972, 11, 4, 0, 0),
  '140-706',
  '대전광역시 대흥동',
  '65-33 303호',
  '042-253-2121',
  '042-253-2121',
  '011-253-2121',
  'SUPER-KHG@HANMAIL.NET',
  '주부',
  '볼링',
  '아내생일',
  datetime.datetime(1999, 6, 12, 0, 0),
  2700,
  None),
 ('g001',
  '1456',
  '송경희',
  '771111',
  '2403414',
  datetime.datetime(1965, 1, 1, 0, 0),
  '339-841',
  '충남금산군 제원면',
  '심내리123-1',
  '0412-356-3578',
  '0412-356-3578',
  '017-356-3578',
  'lim052@hanmail.net',
  '주부',
  '스키',
  '결혼기념일',
  datetime.datetime(1999, 7, 12, 0, 0),
  800,
  None),
 ('h001',
  '9999',
  '라준호',
  '740728',
  '1455822',
  datetime.datetime(1967, 3, 1, 0, 0),
  '339-841',
  '충남 논산시 양촌면',
  '산직3구 345',
  '042-522-1679',
  '042-522-1679',
  '019-522-1679',
  'wingl7@hanmail.net',
  '회사원',
  '독서',
  '아내생일',
  datetime.datetime(1999, 8, 12, 0, 0),
  1500,
  None),
 ('i001',
  '1111',
  '최지현',
  '741220',
  '2384719',
  datetime.datetime(1974, 12, 20, 0, 0),
  '306-702',
  '대전시 동구 가양1동',
  '768-12',
  '042-614-6914',
  '042-614-6914',
  '017-614-6914',
  'pan@orgio.net',
  '공무원',
  '등산',
  '남편생일',
  datetime.datetime(1999, 9, 12, 0, 0),
  900,
  None),
 ('j001',
  '6262',
  '김윤희',
  '751019',
  '2448920',
  datetime.datetime(1975, 11, 21, 0, 0),
  '306-702',
  '대전시 서구 삼천동',
  '한신아파트305동309호',
  '042-332-8976',
  '042-332-8976',
  '018-332-8976',
  'maxsys@hanmail.net',
  '농업',
  '개그',
  '결혼기념일',
  datetime.datetime(1999, 10, 12, 0, 0),
  1100,
  None),
 ('k001',
  '7227',
  '오철희',
  '620123',
  '1449311',
  datetime.datetime(1962, 1, 23, 0, 0),
  '306-702',
  '대전시 대덕구 대화동',
  '34-567',
  '042-157-8765',
  '042-157-8765',
  '016-157-8765',
  'equus@orgio.net',
  '자영업',
  '서예',
  '아내생일',
  datetime.datetime(1999, 11, 12, 0, 0),
  3700,
  None),
 ('l001',
  '12345678',
  '구길동',
  '881214',
  '1234566',
  datetime.datetime(1988, 12, 14, 0, 0),
  '339-841',
  '충남금산군 금산읍',
  ' 하리35-322',
  '0412-322-8865',
  '0412-322-8865',
  '016-322-8865',
  'email815@hanmail.co.kr',
  '자영업',
  '바둑',
  '결혼기념일',
  datetime.datetime(1999, 12, 12, 0, 0),
  5300,
  None),
 ('m001',
  'pass',
  '박지은',
  '750315',
  '2555555',
  datetime.datetime(1975, 3, 15, 0, 0),
  '306-702',
  '대전광역시 서구 갈마동',
  '인성아파트 234동 907호',
  '042-252-0675',
  '042-252-0675',
  '016-252-0675',
  'happy@hanmail.net',
  '은행원',
  '등산',
  '아버님생신',
  datetime.datetime(1999, 12, 12, 0, 0),
  1300,
  None),
 ('n001',
  '1111',
  '탁원재',
  '750323',
  '1011014',
  datetime.datetime(1975, 3, 23, 0, 0),
  '306-702',
  '대전시 동구 자양동',
  '32-23',
  '042-632-2176',
  '042-632-2176',
  '019-632-2176',
  'ping75@unitel.co.kr',
  '축산업',
  '낚시',
  '결혼기념일',
  datetime.datetime(1999, 2, 12, 0, 0),
  2700,
  None),
 ('o001',
  '0909',
  '배인정',
  '780930',
  '2447619',
  datetime.datetime(1978, 9, 30, 0, 0),
  '306-702',
  '대전시 서구 갈마동',
  '경성아파트502동1101호',
  '042-622-5971',
  '042-622-5971',
  '011-622-5971',
  'tar-song@hanmail.net',
  '회사원',
  '등산',
  '어머님생신',
  datetime.datetime(1999, 3, 12, 0, 0),
  2600,
  None),
 ('p001',
  'sahra3',
  '오성순',
  '730805',
  '2458323',
  datetime.datetime(1973, 8, 5, 0, 0),
  '306-702',
  '대전유성구송강동',
  '한솔아파트 703동 407호',
  '042-810-7658',
  '042-810-7658',
  '017-810-7658',
  'sahra235@intz.com',
  '공무원',
  '독서',
  '남편생일',
  datetime.datetime(1999, 5, 12, 0, 0),
  2200,
  None),
 ('q001',
  '0000',
  '육평회',
  '721020',
  '1402722',
  datetime.datetime(1972, 10, 20, 0, 0),
  '306-702',
  '대구광역시 대덕구 중리동',
  '678-43',
  '042-823-2359',
  '042-823-2359',
  '017-823-2359',
  'kph@hanmail.net',
  '자영업',
  '만화',
  '결혼기념일',
  datetime.datetime(1999, 6, 12, 0, 0),
  1500,
  None),
 ('r001',
  'park1005',
  '정은실',
  '770120',
  '2382532',
  datetime.datetime(1976, 11, 26, 0, 0),
  '306-702',
  '대전시 동구 용전동',
  '321-25',
  '042-533-8768',
  '042-533-8768',
  '016-533-8768',
  'econie@hanmail.net',
  '학생',
  '장기',
  '어머님생신',
  datetime.datetime(1999, 7, 12, 0, 0),
  700,
  None),
 ('s001',
  '0819',
  '안은정',
  '770819',
  '2459927',
  datetime.datetime(1977, 10, 1, 0, 0),
  '306-702',
  '대구광역시 서구 탄방동',
  '산호아파트 107동 802호',
  '042-222-8155',
  '042-222-8155',
  '019-222-8155',
  'songej@hanmail.net',
  '공무원',
  '바둑',
  '결혼기념일',
  datetime.datetime(1999, 7, 12, 0, 0),
  3200,
  None),
 ('t001',
  '0506',
  '성원태',
  '760506',
  '1454731',
  datetime.datetime(1976, 5, 6, 0, 0),
  '306-702',
  '대전광역시 중구 유천동',
  '한사랑아파트 302동 504호',
  '042-272-8657',
  '042-272-8657',
  '011-272-8657',
  'bob6@hanmail.net',
  '학생',
  '카레이싱',
  '결혼기념일',
  datetime.datetime(1999, 8, 12, 0, 0),
  2200,
  None),
 ('u001',
  '1000',
  '김성욱',
  '731010',
  '1460111',
  datetime.datetime(1973, 10, 10, 0, 0),
  '306-702',
  '대전시 동구 용전동',
  '76-54',
  '042-273-9056',
  '042-273-9056',
  '018-273-9056',
  'pss576@orgio.net',
  '주부',
  '영화감상',
  '결혼기념일',
  datetime.datetime(1999, 7, 12, 0, 0),
  2700,
  None),
 ('v001',
  '00001111',
  '이진영',
  '520131',
  '2402712',
  datetime.datetime(1952, 1, 31, 0, 0),
  '306-702',
  '대전시 동구 용전동',
  '566-39번지',
  '042-240-8766',
  '042-240-8766',
  '017-240-8766',
  'gagsong@orgio.net',
  '자영업',
  '낚시',
  '남편생일',
  datetime.datetime(1999, 9, 12, 0, 0),
  4300,
  None),
 ('w001',
  '12341234',
  '김형모',
  '631213',
  '1111111',
  datetime.datetime(1963, 12, 13, 0, 0),
  '306-702',
  '대전시 대덕구 연축동',
  '23-43',
  '02-345-9877',
  '02-345-9877',
  '011-345-9877',
  'songone@hanmail.net',
  '학생',
  '등산',
  '결혼기념일',
  datetime.datetime(1999, 11, 12, 0, 0),
  2700,
  None),
 ('x001',
  '0000',
  '진현경',
  '770319',
  '2110222',
  datetime.datetime(1977, 3, 19, 0, 0),
  '306-702',
  '대전광역시 동구 오정동',
  '43-26',
  '042-223-8767',
  '042-223-8767',
  '019-223-8767',
  'happysong@hanmail.net',
  '주부',
  '독서',
  '결혼기념일',
  datetime.datetime(1999, 2, 12, 0, 0),
  8700,
  None)]

In [9]:
### 컬럼명 추출
# - 조회된 데이터에 대한 컬럼 각각의 정보가 추출됨
# - 반환된 타입 : 리스트 타입
# - 각 컬럼의 정보는 튜플 타입으로 정의되어 있음
columns = cursor.description
columns

[('MEM_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('MEM_PASS', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('MEM_NAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 20, 20, None, None, 0),
 ('MEM_REGNO1', <cx_Oracle.DbType DB_TYPE_CHAR>, 6, 6, None, None, 0),
 ('MEM_REGNO2', <cx_Oracle.DbType DB_TYPE_CHAR>, 7, 7, None, None, 0),
 ('MEM_BIR', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('MEM_ZIP', <cx_Oracle.DbType DB_TYPE_CHAR>, 7, 7, None, None, 0),
 ('MEM_ADD1', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 100, 100, None, None, 0),
 ('MEM_ADD2', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 80, 80, None, None, 0),
 ('MEM_HOMETEL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 14, 14, None, None, 0),
 ('MEM_COMTEL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 14, 14, None, None, 0),
 ('MEM_HP', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 1),
 ('MEM_MAIL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 0),
 ('MEM_JOB', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 1),
 ('MEM_LIKE', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 1),
 ('MEM_MEMORIAL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 1),
 ('MEM_MEMORIALDAY', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('MEM_MILEAGE', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 10, 0, 1),
 ('MEM_DELETE', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 1, 1, None, None, 1)]

#### 6. DB와 접속 끊기

In [11]:
### <접속 끊는 순서>
# 1. 커서 반납
cursor.close()

# 2. conn 접속 닫기
conn.close()